.botonesCount {
    display: flex;
    align-content: flex-start;
}

.botonAdd {
    display: flex;
    align-content: flex-start;    
}

.botonAdding {
    margin: 5px !important;
}

.botonSubs {
    margin: 5px !important;
}
