.botonesCount {
    display: flex;
    align-content: flex-start;
}

.botonAdd {
    display: flex;
    align-content: flex-start;
}

.botonAdding {
    size: small !important;
    margin: 5px !important;
}

.botonSubs {
    size: small !important;
    margin: 5px !important;
}
